[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-jaksari
Exec=harbour-jaksari
Name=Jaksari

[X-Sailjail]
Permissions=
OrganizationName=aspor
ApplicationName=Jaksari
